@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Libre Baskerville", serif;
}

body {
  background-image: url('bg.jpg'); /* Replace with the correct path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}